_build/
.ipynb_checkpoints/
.DS_Store
*.pyc
__pycache__/
.vscode/

# Large data files (>10MB)
data/CDS_data/*.nc
data/IMD/*.nc
data/air.mon.mean.nc
data/LMDZ_RCP45_mon_2056-2065_precip.nc
data/SRTM_Pune_Region.tif
data/Reservoir_Level_Storage.xlsx
nir.tif
*.tif
*.nc

site/
